/* General Settings */

#top-announcement { 
   color: black;  }

#top-ad {
    position: relative; 

    top: 0; right: 0; left: 0; 
    color:oldlace;
    background-color:firebrick; 
    font-family: 'Gill Sans';
    font-weight:lighter;
    text-align: center; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    float:inline-start
    
}
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}




#coffeehouse { 
    background-image: url("https://otherfiles-cbm.s3-us-west-2.amazonaws.com/CoffeeShopImage.jpg"); 
    background-size: cover; 
    width: 100%; 
    height: 250px; 
    animation-name: background-pan; 
    animation-duration: 10s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; } @keyframes background-pan { from { background-position: left; } to { background-position: right; } }

main { 
    display: block;
    padding: 30px;
}

* { outline: none !important; }

a {text-decoration: dotted;}

a:hover {
    text-decoration:none;
    opacity: 0.95;
    color: goldenrod;

}

h1, h2, h3, h4, h5, h6, p, a, input, div, textarea, label {
    margin: 0;
}

h2 { font-size: 28px; }

ul {
    list-style: none;
    padding-left: 0;
    padding-top: 5%;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

p { font-size: 1em; }

img { border-style: none; }

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* End General Settings */

/* Header */

header { 
    background: Sienna; 
    padding: 10px;}

    


.title-header .title {
    display: inline-block;
    color: #fff;
    font-size: 18px;
   
}

.title-header .logo {
    display: inline-block;
}

.title-header .logo img {
    vertical-align: left;
}

navigation-bar { background: chocolate;
width:max-content;
}
nav li {float:left;
background: chocolate;


}

nav li a { 
    color: #000000;
    display: inline-block;
    padding: 10px 10px;
    background: chocolate;
    font-weight: 200;
    color: #fff;
}

/* End Header */

/* Footer */

footer {
    background-image: linear-gradient( chocolate, sienna);
    color: #fff;
    padding: 10px;  
    height: 130px;
}

footer a { color: cornsilk; }

/* End Footer */

/* Home Page Content */

.menu-item.additional-items h2 {
    width: 50%;
    float: left;
}

.menu-item.additional-items .item-inner ul {
    display: inline-block;
    width: 50%;
    float: left;
}

/* End Home Page Content */

/* Page Content */

.event-item {
    margin-bottom: 25px;
    border: 1px solid #000
}

/* End Page Content */




/* FIX THESE */


/* Sprites */ 
.sprite-palette { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') 0 0; } 

.sprite-guitar { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') -40px 0; } 
    
.sprite-mask { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') -80px 0; } 

.sprite-controller { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') -120px 0; } 

.sprite-mic { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none;
    background: url('../images/sprite.png') -160px 0; } 
    
.sprite-quill { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') -200px 0; } 

.sprite-cup { 
        display: block; 
        width: 40px; 
        height: 40px; 
        padding: 0; 
        border: none; 
        background: url('../images/sprite.png') -240px 0; } 
        
.sprite-utensils { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') -280px 0; } 
    
.sprite-milk { 
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none; 
    background: url('../images/sprite.png') -320px 0; }


   
body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(0, 53, 100);
    background-color:blanchedalmond;
    background-image: url("https://www.transparenttextures.com/patterns/textured-stripes.png");
 

}
/* 


